.toolbar {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 12px 24px;

    .logo {
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: center;

        .name {
            font-size: 14px;
            font-size: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.28px;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .newChat, .chatHistory {
            display: flex;
            outline: none;
            background: rgb(255, 255, 255);
            border: 1px solid rgb(240, 240, 240);
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
