.fab {
    padding: 0.5rem;
    background-color: rgb(153, 0, 107);
    border: medium;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: auto;
    transform: none;
    transition: all 0.1s linear;

    &:hover {
        transform: scale(1.1);
    }
}

.animate {
    animation: rotate360 0.5s ease-in-out;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
