.chatListItem {
    background-color: rgba(0, 0, 0, 0);
    will-change: auto;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 0.75rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(59, 63, 69);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -0.28px;
        margin-bottom: 5px;
        max-width: 335px;
    }

    .metaData {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgb(102, 102, 102);
        font-size: 12px;
    }
}