.newChat {
    height: 520px;
    padding: 0px 16px 16px;

    .chats {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 1rem 6px 8px;
        overflow: auto;
        gap: 20px; /* Maintains consistent vertical spacing */
        height: 100%;
        width: fit-content;
    }
}

.chatBubble {
    max-width: 80%;

    &.floatRight {
        margin-left: auto;
    }

    &.floatLeft {
        margin-right: auto;
    }
}

.leftBubbleIcon {
    img {
        border-radius: 17px;
        border: 1px solid rgb(240, 240, 240);
        background: rgb(255, 255, 255);
    }
}
